* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #F5F5DC;
    background: linear-gradient(#F5F5DC, #D2797E) no-repeat fixed;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #2D2424;
    font-family: "Calibri Light";
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: #2D2424;
    font-family: "Calibri Light";
    margin-bottom: 40px;
    margin-top: 40px;
}

h3 {
    text-align: center;
    font-size: 50px;
    color: #2D2424;
    font-family: "Calibri Light";
    margin-bottom: 40px;
    margin-top: 40px;
}

p {
    text-align: center;
    font-size: 40px;
    color: #2D2424;
    font-family: "Calibri Light";
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

img {
    border-radius: 20px;
    padding: 5px;
    width: 560px;
    height: 250px;
}