* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #FFF5F5;
    background: linear-gradient(#FFF5F5, #E29595) no-repeat fixed;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #454545;
    font-family: "Calibri Light";
    margin-bottom: 100px;
}

p {
    text-align: center;
    font-size: 40px;
    color: #454545;
    font-family: "Calibri Light";
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
}